body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    background-image: linear-gradient(289.2996042772389deg, #02abd4, #015476)

}


.content {
    max-width: 90%;
    margin: 0 auto;
    height: 100%;

}


.img-container {
    display:flex;
    justify-content: flex-end;
    /*margin-right: -30px;*/
    /*margin-top: -400px;*/
    /*z-index: 0;*/
}



/*@media(max-width: 1200px) {*/
    /*.img-container img {*/
        /*height: 500px;*/
        /*width: 450px;*/
    /*}*/
    /*nav {*/
        /*display: flex;*/
        /*justify-content: flex-start;*/
    /*}*/

/*}*/

#woman{
    width: 300px;
}

.hero {
    height: 100%;
    color: #fff;



}
.top-nav-content {
    display: flex;
    justify-content: flex-end;
    padding: 17px 0;
    font-weight: 400;

}

.top-nav-text {
    margin-right: 22px;
}

.phone {
    margin-right: 22px;
}


.place{
    margin-right: 22px;
}

.logo {
    display: flex;
    justify-content: flex-start;
}

    /* NAV */

nav {
    margin-top: 37px;
    font-weight: 500;


}

nav ul {
    display: flex;
    justify-content: flex-start;
    /*padding-right: 400px;*/

}

nav ul li {
    list-style: none;
    z-index: 1;

}

nav ul li a {
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    padding: 0 85px 0 0;
}


/*  TITLE SECTION  */

#title {
    text-transform: uppercase;
}

.main-title {
    flex: 1;
    display: flex;
    flex-direction: column;

    font-weight: 800;
    margin-left: 25%;
    align-items: center;
    justify-content: center;

}

@media (max-width: 1674px) {
    .main-title {
        margin-left: 10%;
    }
}


.button {
    height: 50px;
    width: 220px;
    margin-top: 40px;
    background-color: #9a12d5;
    border: none;
    border-radius: 1px;
    color: #fff;
    font-size: 1.25em;
    font-weight: 600;
    text-transform: uppercase;
}




.content-img {
    display: flex;
    align-items: center;
    flex-direction: row;


}

.company-name {
    font-size: 3.37em;
}

.company-text {
    font-size: 1.25em;
    font-weight: 400;
    color: #96e6fa;
}

.img {

}

.offer {
    height: 500px;
    background-color: white;
}