body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    /*background-image: linear-gradient(289.2996042772389deg, #02abd4, #015476)*/
     /* IE6-9 */
}


.content {
    max-width: 1366px;
    margin: 0 auto;
    padding-right: 15px;
    padding-left: 15px;

}


.img-container {
    display:flex;
    justify-content: flex-end;
}


.hero {
    height: 100%;
    color: #fff;
    /*background: -moz-linear-gradient(left, #35b5e8 0%, #35baea 27%, #34c7e9 86%); !* FF3.6-15 *!*/
    /*background: -webkit-linear-gradient(left, #35b5e8 0%,#35baea 27%,#34c7e9 86%); !* Chrome10-25,Safari5.1-6 *!*/
    /*background: linear-gradient(to right, #35b5e8 0%,#35baea 27%,#34c7e9 86%); !* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ *!*/
    /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#35b5e8', endColorstr='#34c7e9',GradientType=1 );*/



}

#top-nav {
    border-bottom: 1px solid #f5f5f5;
}
.top-nav-content {
    display: flex;
    justify-content: flex-end;
    padding: 17px 0;
    font-weight: 400;

}


.top-nav-text {
    margin-right: 22px;
    color: #494949;
    font-size: 0.9em;
}

.phone {
    margin-right: 22px;
}


.place{
    margin-right: 22px;
}

.logo {
    padding-top: 5vh;
    display: flex;
    justify-content: flex-start;
}

h2 {

    text-transform: uppercase;
    text-align: center;
    font-size: 3em;
    font-weight: 400;
}


    /* NAV */

nav {
    margin-top: 37px;
    font-weight: 300;

}



nav ul {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;

}

nav ul li {
    list-style: none;
    z-index: 1;

}

nav ul li a {
    text-decoration: none;
    text-transform: uppercase;
    color: #494949;
    padding: 0 85px 0 0;
}


/*  TITLE SECTION  */

#title {
    text-transform: uppercase;
}

.main-title {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -250px;
    padding: 40px 0;

}

.button {
    height: 50px;
    width: 220px;
    margin-top: 40px;
    background-color: #BBEAD8;
    border: none;
    border-radius: 25px;
    color: #fff;
    font-size: 1.25em;
    font-weight: 600;
    text-transform: uppercase;
}




.content-img {
    display: flex;
    align-items: center;


}

.company-name {
    font-size: 3.37em;
    color: #494949;
    font-weight: 400;
}

.company-text {
    font-size: 1.25em;
    font-weight: 400;
    color: #CEF4E5;
    margin-top: -20px;
}

.img {

}


.container-block {
    display: flex;
    justify-content: center;
    margin-top: -90px;
    margin-bottom: -40px;
    z-index: 90;

    position: relative;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
    text-transform: uppercase;


}


.box {
    height: 160px;
    width: 33%;
    background-color: #fff;
    z-index: 100;
    border-radius: 1px;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    align-items: center;


}



.box-text {
    padding-left: 20px;
    line-height: 10px;
}

.box h3 {
    color:#BBEAD8;
    font-weight: 500;
    font-size: 1.12em;
}
.box h4 {
    color:#494949;
    font-weight: 500;
    font-size: 0.9em;
}
.offer-icons {
    width: 30%;
    height: 30%;
}

@media (max-width: 1135px) {
        .box-text h3 {
            font-size: 0.7em;
        }
}
@media (max-width: 880px) {
    .box h4 {
        display: none;
    }
    .box h3 {
        line-height: 3vh;
    }
}

@media (max-width: 1674px) {
    .main-title {
        margin-left: 10%;
    }
}

@media (max-width: 560px) {
    .box {
        display: flex;
        justify-content: center;
        height: 100px;
    }
    .box-text {
        display: none;

    }

}


@media (max-width: 860px) {
    .img-container {
        display: none;
    }
    .main-title {
        margin: 0 auto;
    }
    .button {
        margin-top: 40vh;
    }

}
@media (max-width: 860px) {
    .container-block {
        display: flex;
        margin-top: 80px;
        margin-bottom: -40px;
    }
}

/*  SECTION ABOUT  */



#about {
    height: 100%;
    background-color: #fcfcfc;
    /*position: relative;*/
    z-index: 1;
    margin-top: -50px;
}

#about h2 {
    padding-top: 13vh;
}

.container-about {
    display: flex;
    justify-content: center;
    margin-top: 153px;
}
.text-about {
    padding-right: 6vw;
    line-height: 3vh;
}

@media (max-width: 960px) {
    .container-about {
        display: flex;
        flex-wrap: wrap;
    }
    .text-about {
        text-align: center;
        margin-bottom: 5vh;
    }

}

.content-image-about {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.button-1 {
    height: 50px;
    width: 220px;
    margin-top: 4vh;
    background-color: #BBEAD8;
    border: none;
    border-radius: 25px;
    color: #fff;
    font-size: 1.25em;
    font-weight: 600;
    text-transform: uppercase;
}

/*  SECTION HAIR OFFER  */

#treatments {
    height: 700px;
}
#treatments h2 {
    padding-top:15vh;
    margin: 0;
}
.treatments-container {
    display: flex;
    justify-content: space-between;
    margin-top: 13vh;
    background-color: #fff;


}

.img-treatments {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;

}


.legs-img {
    background-image: url('img/legs.png');

}

.box-treatments {
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
    width: 33%;
    height: 350px;

}
.face-img {
    background-image: url('img/face.png');

}
.neck-img {
    background-image: url('img/szyja.png');


}
.photo {
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
    width: 100%;
}